body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cairo', sans-serif !important;
  

}

h1,h2,h3,h4,h5,h6,div,span,p,div,table,tr,th,td,button{
  font-family: 'Cairo', sans-serif !important;
  /* font-weight: 600 !important */
}